@import "./components/all";
@import "./libs/normalize";
@import "./fonts";

.container {
  height: 100%;
  min-width: 1180px;
  max-width: 1180px;
  margin: auto 370px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.card-flex {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;

  .card {
    padding: 10px;
    transition: all 0.2s linear;
    cursor: pointer;

    border-radius: 15px;

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:hover {
      transform: scale(1.02);
      background-color: #b3bdf534;
    }

    button {
      margin-top: 5px;
      width: 100px;
      height: 32px;
      background-color: #8d9cf4;
      border: none;
      border-radius: 8px;
      color: white;
      font-size: 18px;
      cursor: pointer;
    }

    h3,
    p,
    button {
      font-family: Manrope;
    }
  }
}
